<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="basePath">C:/Users/Viktar/Desktop/dogsfarm</Property>
    </Properties>

    <Appenders>

        <Console name="shortConsoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <!--&lt;!&ndash; avoid duplicated logs with additivity=false &ndash;&gt;-->
        <!--<Logger name="myLogger" level="trace" additivity="true">-->
            <!--<AppenderRef ref="consoleLog"/>-->
            <!--<AppenderRef ref="fileLog"/>-->
        <!--</Logger>-->

        <Root level="all">
            <AppenderRef ref="shortConsoleLog"/>
        </Root>

    </Loggers>

</Configuration>